.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
}

.controller {
    display: flex;
    margin: 5rem;
}

.button {
    background-color: #e27d60;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem 2.5rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    opacity: .85;
}