.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    gap: 2rem;
    ;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    border: 2px solid #978787;
    background-color: #bec7d4;
    /* border: 1.5px solid #000; */
    border-radius: .5rem;
}

.title {
    margin-left: 2rem;
    font-size: 1.25rem;
    justify-content: left;
    font-weight: 500;
    color: #5a5252;
}

.button {
    margin: 1.1rem;
    width: 6rem;
    justify-content: right;
    border: 2px solid #978787;
    border-radius: .2rem;
    cursor: pointer;
    color: #5a5252;
    font-weight: bolder;
    /* font- */
}

.button:hover {
    opacity: .5;
}